.addImages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #4d4d4d;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .addImages input[type="file"] {
    display: none;
  }
  
  .buttoncontainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 2rem;
    padding-bottom: 10px;
  
  }
  .gradient-button {
    background: linear-gradient(to right, #ff7f00, #ff5500); /* Replace these colors with your desired gradient */
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: 300px;
    height: 350px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  }
  
  
  .card img {
    height: 250px;
    width: 250px;
    object-fit: cover;
  }
  .cardInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
  }
  
  .uploadTime {
    margin: 0;
  }
  
  .likeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }
  
  .likeCount {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }
  
  .likeBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    font-size: 20px;
    color: #4d4d4d;
  }
  
  